<!DOCTYPE html>
<html lang="">
<head>   
<script type="text/javascript" src="{{ url_for('static', filename = 'scripts/jquery-1.11.0.min.js')}}"></script>
</head>
<body>


<form action="{{ url_for('ProcessCreateTrialForm') }}" method="post">
	<select id='designT' name='designType'>
	<option value="Amplifier">Amplifier</option>
	<option value="Converter">Converter</option>
	<option value="Amplifier-two-stage">Amplifier two stage</option>
	<option value="NN">Neural Network</option>
	<option value="Coupling">Coupling meta</option>
	</select></br></br>
	<div style='display:none;' id='CouplingEAFields'>
	<b>Meta fields</b></br>
    Population size: 										  <input type="text" name="numIndMeta"></br>
	Parent selection method: 								  <input type="text" name="selectionMethodMeta"></br>
	Parent selection parameters: 							  <input type="text" name="selectionParamsMeta"></br>
	Survivor selection method: 								  <input type="text" name="survivorSelectionMethodMeta"></br>
	Number of generations: 									  <input type="text" name="numGenMeta"></br>
	Mutation rate: 											  <input type="text" name="mutationRateMeta"></br>
	Selected fitnesses: 									  <input type="text" name="selectedFitnessesMeta" size='100'></br>
	Displayed fitnesses choices: 							  <input type="text" name="availableFitsMeta" size='100'></br>
	Fitness parameters (max archive size, k): 				  <input type="text" name="fitnessParamsMeta"></br>
	</div></br>
	<b>RNA fields</b></br>
	<div style='display:none;' id='RNAEAFields'>
    Population size: 										  <input type="text" name="numInd"></br>
	Parent selection method: 								  <input type="text" name="selectionMethod"></br>
	Parent selection parameters: 							  <input type="text" name="selectionParams"></br>
	Survivor selection method: 								  <input type="text" name="survivorSelectionMethod"></br>
	Number of generations: 									  <input type="text" name="numGen"></br>
	Mutation rate: 											  <input type="text" name="mutationRate"></br>
	Selected fitnesses: 									  <input type="text" name="selectedFitnesses" size='100'></br>
	Displayed fitnesses choices: 							  <input type="text" name="availableFits" size='100'></br>
	Fitness parameters (max archive size, k): 				  <input type="text" name="fitnessParams"></br>
	Hybridization weight (a):							 	  <input type="text" name="a"></br>
	Accessibility weight (b): 								  <input type="text" name="b"></br>
	Threshold for base pairing (t):							  <input type="text" name="t"></br>
	Threshold for accessibility (u): 						  <input type="text" name="u"></br>
	Number of accessible regions, 0 is unlimited (--acc-num): <input type="text" name="accNum"></br>
	</div>
	<input type="submit">
</form>
<script type='text/javascript'>
//All of the RNAEA fields are also present in coupling EA
$('#designT').on('change', function () {
    if (this.value === 'Amplifier' || this.value === 'Converter' || this.value === 'NN'|| this.value === 'Amplifier-two-stage'){
        $("#RNAEAFields").show();
		$("#CouplingEAFields").hide();
    } else {
        $("#RNAEAFields").show();
		$("#CouplingEAFields").show();
    }
});
</script>

</body>
</html>
