<!doctype html>
<html>
   <body>
   <form action="{{ url_for('processDisplayForm') }}" method="post">
	Trial available fitnesses
	{% for i in availableFits %}
	  <input type="checkbox" name="{{ i }}" value="{{ i }}"> {{ i}}<br>
	{% endfor %}
	Trial instance available fitnesses
	{% for i in availableFitsInstance %}
	  <input type="checkbox" name="{{ i }}" value="{{ i }}"> {{ i}}<br>
	{% endfor %}
		 
	<select name="popTypesDropDown">
		<option value="0">Offspring</option>
		<option value="1">Survivors</option>
		<option value="2">Archive</option>
		<option value="3">Survivors + Archive</option>
	</select>	

	<select name="popTypesDropDownInstance">
		<option value="0">Offspring</option>
		<option value="1">Survivors</option>
		<option value="2">Archive</option>
		<option value="3">Survivors + Archive</option>
	</select>	 	

    <input type="submit">
</form>
   
      
   </body>
</html>