<!DOCTYPE html>
<html lang="">
<head>
    <link href=						   "{{ url_for('static', filename = 'ui-lightness/jquery-ui.css')}}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts/jquery-1.11.0.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts/jquery-ui.js')}}"></script>

    <style type="text/css">


		

    </style>
<meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>

<form name='parameters' action="{{ url_for('ractip_form') }}" method="post">
    Hybridization weight (a): <input type="text" name="a"></br>
	Accessibility weight (b): <input type="text" name="b"></br>
	Threshold for base pairing (t): <input type="text" name="t"></br>
	Threshold for accessibility (u): <input type="text" name="u"></br>
	Number of accessible regions, 0 is unlimited (--acc-num): <input type="text" name="accNum"></br>
	RNA strand 1: <input type="text" name="seq1"></br>
	RNA strand 2: <input type="text" name="seq2"></br>
    <input type="submit">
</form>

<div class="results">
Free energy: <span id="energy"></span></br>
<table id="overview" class="fixed">
	<tr>
		<th>Dimer</th>
	</tr>
    <tr>
		<td id='dimer_canvas'></td>
    </tr>
	<tr>
		<td id="DimerGeno"></td>
	</tr>
	<tr>
		<td id="DimerPheno"></td>
	</tr>
</table>
</div>

<!-- build:js scripts/fornac.js -->
<script src="{{ url_for('static', filename = 'scripts/fornac.js') }}"></script>

<!-- endbuild -->

<script type='text/javascript'>
"use strict"
/*$(function(){
  $('form[name=parameters]').submit(function(){
    $.post($(this).attr('action'), $(this).serialize(), function(json) {
      alert(json);
    }, 'json');
    return false;
  });
});*/

$(function(){
  $('form[name=parameters]').submit(function(){
		var a = $('[name=a]').val();
		var b = $('[name=b]').val();
		var t = $('[name=t]').val();
		var u = $('[name=u]').val();
		var accNum = $('[name=accNum]').val();
		var seq1 = $('[name=seq1]').val();
		var seq2 = $('[name=seq2]').val();
		//alert(a);
	$.getJSON('/ractipResults', {

		a:a, b:b, t:t, u:u, accNum: accNum, seq1:seq1, seq2:seq2 }, function(data){
		UpdateResults(data);
		});
		return false;
  });
});



/*
$(function(){
  $('form[name=parameters]').submit(function(){
	alert("FUCK");
  });
});
*/
function cofoldContainer(secondaryStructure,seq, divName) {
    var container = new fornac.FornaContainer(divName,
            {'applyForce': true, 'allowPanningAndZooming': true, 'initialSize':[500,500]});
    var options = {'structure': secondaryStructure,
        'sequence': seq
    };
    container.addRNA(options.structure, options);
    container.setSize();
	
	container.calculateStrandStarts();


	//There whole strand start and end is overkill 
	//Now strand 1 and strand 2 are contiguous
	var strandStarts = container.getStrandStarts()
	//document.write(strandStarts);
	var firstStrandStart = strandStarts[0];
	var secondStrandStart = strandStarts[1];
	//document.write(secondStrandStart);
	var strandLengths = container.getStrandLengths();
	//document.write(strandLengths);
	var firstStrandLength = strandLengths[0];
	var secondStrandLength = strandLengths[1];
	var secondStrandEnd = secondStrandStart + secondStrandLength; //!!!NK Do I need a -1?
	//document.write(secondStrandEnd);
	
	//!!!0-7 blue is assuming I am letting it fold with 8 bases. If I change that amount, with current code I am going to have to manually change the coloring scheme
	//stem1_lower:0-7 core_lower:8:15 stem2_lower:16-20 stem2_free_lower:21-24 OBS: 25-46 stem2_free_upper 47 stem2_upper: 48-53 core_upper: 54-57 ... cleaved: 72-95 or 72-79
	var colorString = '0-7:blue 8-15:orange 16-20:#FF1493 25-46:#aec7e8 48-52:#FF1493 53-57:orange 58-71:red 70-71:orange 72-79:green';	
	//var colorString = '0-7:blue 8-24:#ff7f0e 25-46:#aec7e8 47-71:red 72-95:green';
	//var colorString = firstStrandStart.toString() + '-' + firstStrandLength.toString() + ':blue ' + secondStrandStart.toString() + '-' + secondStrandEnd.toString() + ':red';
	container.addCustomColorsText(colorString);
}

function UpdateResults(data)
{
	$('#DimerGeno').text(data[0])
	$('#DimerPheno').text(data[1])
	$('#energy').text(data[2])
	var seqDimer = data[0].replace("&amp;","&");
	var secondaryStructureDimer = data[1].replace("&amp;", "&");
	cofoldContainer(secondaryStructureDimer, seqDimer, "#dimer_canvas");
}


</script>
</body>
</html>
