<!DOCTYPE html>
<html>
 <head>
    <title>{{ title }}</title>
  </head>
  <body>
	  <table>
	  	<tr>
			<td>Trial</td>
			<td>Pop</td>
			<td>Gens</td>
			<td>TS</td>
			<td>Survivor Sel Method</td>
			<td>Mutation Rate</td>
			<td>Selected Fits</td>
			<!-- <td>Available Fits</td> -->
			<td>Archive,k</td>
			<td>Design type</td>
			<td>Fit Front</td>
			<td>DEL</td>

		</tr>
        {% for trial in trials %}
		<tr>
			<td><a href="{{links[loop.index0]}}">{{trial.id}}</a></td>
			<td>{{trial.numInds}}</td>
			<td>{{trial.numGens}}</td>
			<!-- <td>{{trial.selectionMethod}}</td> -->
			<td>{{trial.selectionParams}}</td>
			<td>{{trial.survivorSelectionMethod}}</td>
			<!-- <td>{{trial.mutationProb}}</td> -->
			<td>{{trial.mutationRate}}</td>
			<td>{{trial.selectedFitnesses}}</td>
			<!-- <td>{{trial.availableFits}}</td> -->
			<td>{{trial.fitnessParams}}</td>
			<td>{{trial.designType}}</td>
			<td><a href= "/viewFittestFront?trial={{trial.id}}" target="_blank">f</a></td> 
			<td><a href= "/deleteTrial?trial={{trial.id}}">d</a></td> 
		</tr>		
        {% endfor %}
      </table>
  </body>
</html>

