<!DOCTYPE html>
<html lang="">
<head>
    <link href=						   "{{ url_for('static', filename = 'ui-lightness/jquery-ui.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts/jquery-1.11.0.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts/jquery-ui.js')}}"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
<meta charset="utf-8">
    <title>{{ title }}</title>
	

		
</head>
<body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.1/Chart.min.js"></script>
<script src="angular-chart.min.js"></script>

<div class="graph"></div>

<script src="{{ url_for('static', filename = 'scripts/fornac.js') }}"></script>

<span id="f0Name"></span></br>
<canvas id="chartF0" width="800" height="300"></canvas></br>
<span id="f1Name"></span></br>
</br><canvas id="chartF1" width="800" height="300"></canvas>
<span id="f2Name"></span></br>
</br><canvas id="chartF2" width="800" height="300"></canvas>
<span id="f3Name"></span></br>
</br><canvas id="chartF3" width="800" height="300"></canvas>

<script type='text/javascript'>
"use strict"

var yPointsAvgs;
var yPointsMaxValues;
var fitFuncNames;
//var fullLabels = [];
var fullLabels = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29];
var numDisplayedLabels = fullLabels.length;

function UpdateChart()
{
	$.getJSON('/trialDetails_JSON', {trial: {{trialToView}}}, function(data){
	
		yPointsAvgs = data[0];
		yPointsMaxValues = data[1];
		fitFuncNames = data[2];
		for (var i = 0; i < fitFuncNames.length; i++) 
		{
			var yPointsAvgCur = yPointsAvgs[i];
			var yPointsMaxValueCur = yPointsMaxValues[i];
			var fitFuncNameCur = fitFuncNames[i];
			var chartNameCur = 'chartF' + i.toString();
			var fitFuncNameCurElem = '#f' + i.toString() + 'Name';
			DrawChart(chartNameCur,yPointsAvgCur,yPointsMaxValueCur);
			$(fitFuncNameCurElem).text(fitFuncNameCur)
		}
	})		
}

function DrawChart(chartName,yPointsAvg,yPointsMaxValue)
{
	var pointsLabelDifference = yPointsAvg.length - fullLabels.length;
	if (pointsLabelDifference > 0)
	{
		if (fullLabels.length > 0)
		{
			var lastLabel = fullLabels[fullLabels.length - 1] ;
			for (var i = 0; i < pointsLabelDifference; i++) 
			{ 
				var newLabel = lastLabel + i + 1;
				fullLabels.push(newLabel);
			}
		}
		else
		{
			fullLabels = [0];
		}
	}
	
	var data = {
	labels: fullLabels.slice(fullLabels.length - numDisplayedLabels,fullLabels.length+1),
	datasets: [
		{
			label: "Average fitness",
			fillColor: "rgba(220,220,220,0.2)",
			strokeColor: "rgba(220,220,220,1)",
			pointColor: "rgba(220,220,220,1)",
			pointStrokeColor: "#fff",
			pointHighlightFill: "#fff",
			pointHighlightStroke: "rgba(220,220,220,1)",
			data: yPointsAvg.slice(fullLabels.length - numDisplayedLabels,fullLabels.length+1)
		},
		{
			label: "Max fitness",
			fillColor: "rgba(151,187,205,0.2)",
			strokeColor: "rgba(151,187,205,1)",
			pointColor: "rgba(151,187,205,1)",
			pointStrokeColor: "#fff",
			pointHighlightFill: "#fff",
			pointHighlightStroke: "rgba(151,187,205,1)",
			data: yPointsMaxValue.slice(fullLabels.length - numDisplayedLabels,fullLabels.length+1)
		}
	]
	};

	var options = {
    animation : false,  // Edit: correction typo: from 'animated' to 'animation'
	}	
	var canvas = document.getElementById(chartName);
	var ctx = canvas.getContext("2d");
	var chart = new Chart(ctx).Line(data, options);


	canvas.onclick = function (evt) {
		var points = chart.getPointsAtEvent(evt);
		var test = chart.datasets[0].points.indexOf(points[0]);
		var trial = {{trialToView}};
		var gen = fullLabels.length - numDisplayedLabels+test; 
		//var individualLink =  "/viewFront?trial=" + trial.toString() + "&gen=" + gen.toString();
		var individualLink =  "/viewFittestFront?trial=" + trial.toString(); 
		window.open(individualLink);
	}
}

UpdateChart();
setInterval( UpdateChart, 10000 );

</script>

</body>
</html>




<!--
<html>
 <head>
    <title>{{ title }}</title>
  </head>
  <body>
	  <table>
	  	<tr>
			<td>Fitness</td>
			<td>boolOffPop</td>
			<td>generation</td>
		</tr>
        {% for individual in individuals %}
		<tr>
			<td>{{individual.fitness1}}</td>
			<td>{{individual.boolOffPop}}</td>
			<td>{{individual.currentGeneration}}</td>
		</tr>
		
        {% endfor %}
      </table>
  </body>
</html>
-->


