<!DOCTYPE html>
<html lang="">
<head>
    <link href=						   "{{ url_for('static', filename = 'ui-lightness/jquery-ui.css')}}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts/jquery-1.11.0.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts/jquery-ui.js')}}"></script>

    <style type="text/css">

	.right {
		position:absolute;
		left:1600px; top:92px; bottom: 0;
		width: 500px;
	}
	.results {
		position: absolute;
		left:50px; top:50px; right:0; bottom:0;
	}	
	
	.fixed{ table-layout:fixed; width:1500px}
	.fixed td { overflow: hidden; }
	.fixed td { word-wrap: break-word; }
		
	.slid1 {
		position:absolute;
		left:50px; top:750px; bottom: 0;
		width: 800px;
	}
	
	.slid2 {
		position:absolute;
		left:50px; top:800px; bottom: 0;
		width: 800px;
	}
	
	.slid3 {
		position:absolute;
		left:50px; top:850px; bottom: 0;
		width: 800px;
	}
	
	.slid4 {
		position:absolute;
		left:50px; top:900px; bottom: 0;
		width: 800px;
	}
	
	.slid5 {
		position:absolute;
		left:50px; top:950px; bottom: 0;
		width: 800px;
	}
	
	.slid6 {
		position:absolute;
		left:50px; top:1000px; bottom: 0;
		width: 800px;
	}
    </style>
<meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
K: <span id="K"></span></br>


<div class="results">
<table id="overview" class="fixed">
	<tr>
	    <th>Monomer 1</th>
	    <th>Monomer 2</th>
		<th>Dimer</th>
	</tr>
    <tr>
        <td id='mono1_canvas'></td>
        <td id='mono2_canvas'></td>
		<td id='dimer_canvas'></td>
    </tr>
	<tr>
		<td id="Mon1Geno"></td>
		<td id="Mon2Geno"></td>
		<td id="DimerGeno"></td>
	</tr>
	<tr>
		<td id="Mon1Pheno"></td>
		<td id="Mon2Pheno"></td>
		<td id="DimerPheno"></td>
	</tr>
	<tr>
		<td id="Mon1Name"></td>
		<td id="Mon2Name"></td>
		<td id="DimerName"></td>
	</tr>

</table>
</div>
<div class="right">
Individual ID: <span id="IndId"></span></br>
<span id="f0Name"></span><span id="f0Value"></span></br>
<span id="f1Name"></span><span id="f1Value"></span></br>
<span id="f2Name"></span><span id="f2Value"></span></br>
<span id="f3Name"></span><span id="f3Value"></span></br>
</div>

<select id='pairsType' name='pairsType'>
<option value="0">All</option>
<option value="1">Rz-Input Pairs</option>
</select>

<div class="slid1" id="rzInputSliderN">Rz-Input slider: <div id="rzInputSlider" ></div> </div>
<div class="slid2" id="monomer1SliderN">Monomer 1: <div id="monomer1Slider" ></div> </div>
<div class="slid3" id="monomer2SliderN">Monomer 2: <div id="monomer2Slider" ></div> </div>
<div class="slid4">Individual: <div id="indSlider" ></div> </div>
<div class="slid5" id="ampOrConvSliderN">Amplifier or converter: <div id="ampOrConvSlider" ></div> </div>
<div class="slid6" id="metaIndSliderN">Meta Individual: <div id="metaIndSlider" ></div> </div>

<script src="{{ url_for('static', filename = 'scripts/fornac.js') }}"></script>
<script type='text/javascript'>
"use strict"
function cofoldContainer(secondaryStructure,seq, divName, colorString) {
    var container = new fornac.FornaContainer(divName,
            {'applyForce': true, 'allowPanningAndZooming': true, 'initialSize':[500,500]});
    var options = {'structure': secondaryStructure,
        'sequence': seq
    };
    container.addRNA(options.structure, options);
    container.setSize();	
	container.calculateStrandStarts();
	container.addCustomColorsText(colorString);
}

function UpdateResults(data)
{

	$('#IndId').text(data[0])
	$('#Mon1Geno').text(data[1])
	$('#Mon1Pheno').text(data[2])
	$('#Mon1Name').text(data[3])
	$('#Mon2Geno').text(data[4])
	$('#Mon2Pheno').text(data[5])
	$('#Mon2Name').text(data[6])
	$('#DimerGeno').text(data[7])
	$('#DimerPheno').text(data[8])
	$('#DimerName').text(data[9])
	$('#K').text(data[10]);
	var colorStrings = data[11];
	
	var fitFuncValues = data[12];
	var fitFuncNames  = data[13];
	var boolMeta      = data[14];
	
	if (boolMeta == 0) {
	$("#metaIndSlider").hide();
	$("#ampOrConvSlider").hide();
	$("#metaIndSliderN").hide();
	$("#ampOrConvSliderN").hide();
	}
	
	
	for (var i = 0; i < fitFuncNames.length; i++) 
	{
		var fitFuncValueCur = fitFuncValues[i];
		var fitFuncNameCur = fitFuncNames[i];
		var fitFuncNameCurElem = '#f' + i.toString() + 'Name';
		$(fitFuncNameCurElem).text(fitFuncNameCur + ": ");
		var fitFuncValueCurElem = '#f' + i.toString() + 'Value';
		$(fitFuncValueCurElem).text(parseFloat(fitFuncValueCur).toFixed(3));
	}

	var seqMon1 = data[1].replace("&amp;","&");
	var secondaryStructureMon1 = data[2].replace("&amp;", "&");
	cofoldContainer(secondaryStructureMon1, seqMon1, "#mono1_canvas", colorStrings[0]);
	var seqMon2 = data[4].replace("&amp;","&");
	var secondaryStructureMon2 = data[5].replace("&amp;", "&");
	cofoldContainer(secondaryStructureMon2, seqMon2, "#mono2_canvas", colorStrings[1]);
	var seqDimer = data[7].replace("&amp;","&");
	var secondaryStructureDimer = data[8].replace("&amp;", "&");
	cofoldContainer(secondaryStructureDimer, seqDimer, "#dimer_canvas", colorStrings[2]);
}

//This is the slider to select individual
$("#rzInputSlider").slider({
	orientation: "horizontal",
	range: false,
	min: 0,
	max: 1,
	value: 0,
	step: .01,
	animate: true,
	slide: function (event, ui) {
		$("#a_field").val(ui.value);
	}, 
	change: function(event,ui){ 
		var pairType    = $('#pairsType').val() 
		var rzInputPair = ui.value;
		var monomer1    = $('#monomer1Slider').slider("option", "value");
		var monomer2    = $('#monomer2Slider').slider("option", "value");
		var ind			= $('#indSlider').slider("option", "value");
		var ampOrConv	= $('#ampOrConvSlider').slider("option", "value");
		var metaInd		= $('#metaIndSlider').slider("option", "value");
		$.getJSON('/viewFittestFront_JSON', {
			indMeta: metaInd, ind:ind, ampOrConv: ampOrConv, trial: {{trialToView}}, gen: {{genToView}}, pairType: pairType, mon1:monomer1, mon2:monomer2, rzInputPair:rzInputPair}, function(data){
			UpdateResults(data);
			})
	}
});

$("#monomer1Slider").slider({
	orientation: "horizontal",
	range: false,
	min: 0,
	max: 1,
	value: 0,
	step: .01,
	animate: true,
	slide: function (event, ui) {
		$("#a2_field").val(ui.value);
	}, 
	change: function(event,ui){ 
		var pairType    = $('#pairsType').val() 
		var rzInputPair = $('#rzInputSlider').slider("option", "value");
		var monomer1    = ui.value;
		var monomer2    = $('#monomer2Slider').slider("option", "value");
		var ind			= $('#indSlider').slider("option", "value");
		var ampOrConv	= $('#ampOrConvSlider').slider("option", "value");
		var metaInd		= $('#metaIndSlider').slider("option", "value");
		$.getJSON('/viewFittestFront_JSON', {
			indMeta: metaInd, ind:ind, ampOrConv: ampOrConv, trial: {{trialToView}}, gen: {{genToView}}, pairType: pairType, mon1:monomer1, mon2:monomer2, rzInputPair:rzInputPair}, function(data){
			UpdateResults(data);
			})
	}
});

$("#monomer2Slider").slider({
	orientation: "horizontal",
	range: false,
	min: 0,
	max: 1,
	value: 0.40, //0.25 if we evolve shunts. if we don't evolve them st it to 0.40
	step: .01,
	animate: true,
	slide: function (event, ui) {
		$("#a3_field").val(ui.value);
	}, 
	change: function(event,ui){ 
		var pairType    = $('#pairsType').val() 
		var rzInputPair = $('#rzInputSlider').slider("option", "value");
		var monomer1    = $('#monomer1Slider').slider("option", "value");
		var monomer2    = ui.value;
		var ind			= $('#indSlider').slider("option", "value");
		var ampOrConv	= $('#ampOrConvSlider').slider("option", "value");
		var metaInd		= $('#metaIndSlider').slider("option", "value");
		$.getJSON('/viewFittestFront_JSON', {
			indMeta: metaInd, ind:ind, ampOrConv: ampOrConv, trial: {{trialToView}}, gen: {{genToView}}, pairType: pairType, mon1:monomer1, mon2:monomer2, rzInputPair:rzInputPair}, function(data){
			UpdateResults(data);
			})
	}
});

$("#indSlider").slider({
	orientation: "horizontal",
	range: false,
	min: 0,
	max: 1,
	value: 0,
	step: .01,
	animate: true,
	slide: function (event, ui) {
		$("#a4_field").val(ui.value);
	}, 
	change: function(event,ui){ 
		var pairType    = $('#pairsType').val() 
		var rzInputPair = $('#rzInputSlider').slider("option", "value");
		var monomer1    = $('#monomer1Slider').slider("option", "value");
		var monomer2    = $('#monomer2Slider').slider("option", "value");
		var ind			= ui.value;
		var ampOrConv	= $('#ampOrConvSlider').slider("option", "value");
		var metaInd		= $('#metaIndSlider').slider("option", "value");
		$.getJSON('/viewFittestFront_JSON', {
			indMeta: metaInd, ind:ind, ampOrConv: ampOrConv, trial: {{trialToView}}, gen: {{genToView}}, pairType: pairType, mon1:monomer1, mon2:monomer2, rzInputPair:rzInputPair}, function(data){
			UpdateResults(data);
			})
	}
});

$("#ampOrConvSlider").slider({
	orientation: "horizontal",
	range: false,
	min: 0,
	max: 1,
	value: 0,
	step: .01,
	animate: true,
	slide: function (event, ui) {
		$("#a5_field").val(ui.value);
	}, 
	change: function(event,ui){ 
		var pairType    = $('#pairsType').val() 
		var rzInputPair = $('#rzInputSlider').slider("option", "value");
		var monomer1    = $('#monomer1Slider').slider("option", "value");
		var monomer2    = $('#monomer2Slider').slider("option", "value");
		var ind			= $('#indSlider').slider("option", "value");
		var ampOrConv	= ui.value;
		var metaInd		= $('#metaIndSlider').slider("option", "value");
		$.getJSON('/viewFittestFront_JSON', {
			indMeta: metaInd, ind:ind, ampOrConv: ampOrConv, trial: {{trialToView}}, gen: {{genToView}}, pairType: pairType, mon1:monomer1, mon2:monomer2, rzInputPair:rzInputPair}, function(data){
			UpdateResults(data);
			})
	}
});

$("#metaIndSlider").slider({
	orientation: "horizontal",
	range: false,
	min: 0,
	max: 1,
	value: 0,
	step: .01,
	animate: true,
	slide: function (event, ui) {
		$("#a6_field").val(ui.value);
	}, 
	change: function(event,ui){ 
		var pairType    = $('#pairsType').val() 
		var rzInputPair = $('#rzInputSlider').slider("option", "value");
		var monomer1    = $('#monomer1Slider').slider("option", "value");
		var monomer2    = $('#monomer2Slider').slider("option", "value");
		var ind			= $('#indSlider').slider("option", "value");
		var ampOrConv	= $('#ampOrConvSlider').slider("option", "value");
		var metaInd		= ui.value;
		$.getJSON('/viewFittestFront_JSON', {
			indMeta: metaInd, ind:ind, ampOrConv: ampOrConv, trial: {{trialToView}}, gen: {{genToView}}, pairType: pairType, mon1:monomer1, mon2:monomer2, rzInputPair:rzInputPair}, function(data){
			UpdateResults(data);
			})
	}
});

//This is run at page load
$.getJSON('/viewFittestFront_JSON', {
	indMeta: $('#metaIndSlider').slider("option", "value"), ind:$('#indSlider').slider("option", "value"), ampOrConv:$('#ampOrConvSlider').slider("option", "value"), trial: {{trialToView}}, gen: {{genToView}}, mon1:$('#monomer1Slider').slider("option", "value"), mon2:$('#monomer2Slider').slider("option", "value"), rzInputPair:$('#rzInputSlider').slider("option", "value"), pairType:$('#pairsType').val() }, function(data){
	UpdateResults(data);
	})

//The rzInputSlider is initially hidden
$("#rzInputSlider").hide();
$("#rzInputSliderN").hide();
$('#pairsType').on('change', function () {
    if (this.value === '0'){
        $("#monomer1Slider").show();
		$("#monomer2Slider").show();
		$("#rzInputSlider").hide();
		$("#monomer1SliderN").show();
		$("#monomer2SliderN").show();
		$("#rzInputSliderN").hide();
    } else {
        $("#monomer1Slider").hide();
		$("#monomer2Slider").hide();
		$("#rzInputSlider").show();
		$("#monomer1SliderN").hide();
		$("#monomer2SliderN").hide();
		$("#rzInputSliderN").show();
    }
});

</script>
</body>
</html>
