<!DOCTYPE html>
<html lang="">
<head>
    <link href=						   "{{ url_for('static', filename = 'ui-lightness/jquery-ui.css')}}" rel="stylesheet">

    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts/jquery-1.11.0.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'scripts/jquery-ui.js')}}"></script>

    <style type="text/css">

	.right {
		position:absolute;
		left:1600px; top:92px; bottom: 0;
		width: 500px;
	}
	.results {
		position: absolute;
		left:50px; top:50px; right:0; bottom:0;
	}	
	

	
		.fixed{ table-layout:fixed; width:1500px}
		.fixed td { overflow: hidden; }
		.fixed td { word-wrap: break-word; }
		
	.slid1 {
		position:absolute;
		left:50px; top:750px; bottom: 0;
		width: 800px;
	}
	
	.slid2 {
		position:absolute;
		left:50px; top:800px; bottom: 0;
		width: 800px;
	}
	
	.slid3 {
		position:absolute;
		left:50px; top:850px; bottom: 0;
		width: 800px;
	}
	
	.slid4 {
		position:absolute;
		left:50px; top:900px; bottom: 0;
		width: 800px;
	}
    </style>
<meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
K: <span id="K"></span></br>


<div class="results">
<table id="overview" class="fixed">
	<tr>
	    <th>Monomer 1</th>
	    <th>Monomer 2</th>
		<th>Dimer</th>
	</tr>
    <tr>
        <td id='mono1_canvas'></td>
        <td id='mono2_canvas'></td>
		<td id='dimer_canvas'></td>
    </tr>
	<tr>
		<td id="Mon1Geno"></td>
		<td id="Mon2Geno"></td>
		<td id="DimerGeno"></td>
	</tr>
	<tr>
		<td id="Mon1Pheno"></td>
		<td id="Mon2Pheno"></td>
		<td id="DimerPheno"></td>
	</tr>
	<tr>
		<td id="Mon1Name"></td>
		<td id="Mon2Name"></td>
		<td id="DimerName"></td>
	</tr>

</table>
</div>
<div class="right">
Front ID: <span id="FrontId"></span></br>
Individual ID: <span id="IndId"></span></br>
<span id="f0Name"></span><span id="f0Value"></span></br>
<span id="f1Name"></span><span id="f1Value"></span></br>
<span id="f2Name"></span><span id="f2Value"></span></br>
<span id="f3Name"></span><span id="f3Value"></span></br>
</div>

<div class="slid1">Individual: <div id="slider" ></div> </div>
<div class="slid2">Monomer 1: <div id="slider2" ></div> </div>
<div class="slid3">Monomer 2: <div id="slider3" ></div> </div>
<div class="slid4">Front: <div id="slider4" ></div> </div>


<!-- build:js scripts/fornac.js -->
<script src="{{ url_for('static', filename = 'scripts/fornac.js') }}"></script>

<!-- endbuild -->

<script type='text/javascript'>
"use strict"



function cofoldContainer(secondaryStructure,seq, divName, colorString) {
    var container = new fornac.FornaContainer(divName,
            {'applyForce': true, 'allowPanningAndZooming': true, 'initialSize':[500,500]});
    var options = {'structure': secondaryStructure,
        'sequence': seq
    };
    container.addRNA(options.structure, options);
    container.setSize();
	
	container.calculateStrandStarts();

	//stem1_lower:0-7 core_lower:8:15 stem2_lower:16-20 stem2_free_lower:21-24 OBS: 25-46 stem2_free_upper 47 stem2_upper: 48-53 core_upper: 54-57 ... cleaved: 72-93 or 72-79
	//var colorString = '0-7:blue 8-15:orange 16-20:#FF1493 25-46:#aec7e8 48-52:#FF1493 53-57:orange 58-71:red 70-71:orange 72-93:green';	
	//AMP
	//var colorString = '0-5:blue 6-13:orange 14-18:#FF1493 19-45:#aec7e8 46-50:#FF1493 51-55:orange 56-61:blue 62-69:orange 70-74:#FF1493 75-78:#FF1493 79-83:#FF1493 84-88:orange 89-93:red 94-97:red 98-102:red 103-104:orange 105-110:green 111-112:orange 113-118:green 119-120:green';	//For amplifier 
	//AMP BULGE
	//var colorString = '0-5:blue 6-13:orange 14-18:#FF1493 19-45:#aec7e8 46-50:#FF1493 51-55:orange 56-61:blue 62-69:orange 70-74:#FF1493 75-78:#FF1493 79-83:#FF1493 84-88:orange 89-93:red 94-97:red 98-102:red 103-104:orange 105-126:green 127-128:orange 129-150:green 151-152:green';

	container.addCustomColorsText(colorString);
}

function UpdateResults(data)
{
	$('#DimerGeno').text(data[0])
	$('#DimerPheno').text(data[1])
	$('#DimerName').text(data[2])
	$('#IndId').text(data[3])
	$('#Mon1Geno').text(data[4])
	$('#Mon1Pheno').text(data[5])
	$('#Mon1Name').text(data[6])
	$('#Mon2Geno').text(data[7])
	$('#Mon2Pheno').text(data[8])
	$('#Mon2Name').text(data[9])
	var fitFuncValues = data[10];
	var fitFuncNames = data[11];
	$('#FrontId').text(data[12]);
	$('#K').text(data[13]);
	var colorStringAmp = data[14];
	var colorString;
	if (data[9] == 'Rz_L2N0M0') {
		colorString = '0-7:blue 8-15:orange 16-20:#FF1493 25-46:#aec7e8 48-52:#FF1493 53-57:orange 58-69:red 70-71:orange 72-93:green';	
	} else {
		colorString = colorStringAmp;
	}
	for (var i = 0; i < fitFuncNames.length; i++) 
	{
		var fitFuncValueCur = fitFuncValues[i];
		var fitFuncNameCur = fitFuncNames[i];
		var fitFuncNameCurElem = '#f' + i.toString() + 'Name';
		$(fitFuncNameCurElem).text(fitFuncNameCur + ": ");
		var fitFuncValueCurElem = '#f' + i.toString() + 'Value';
		$(fitFuncValueCurElem).text(parseFloat(fitFuncValueCur).toFixed(3));
	}
	var seqDimer = data[0].replace("&amp;","&");
	var secondaryStructureDimer = data[1].replace("&amp;", "&");
	cofoldContainer(secondaryStructureDimer, seqDimer, "#dimer_canvas", colorString);
	var seqMon1 = data[4].replace("&amp;","&");
	var secondaryStructureMon1 = data[5].replace("&amp;", "&");
	cofoldContainer(secondaryStructureMon1, seqMon1, "#mono1_canvas", colorString);
	var seqMon2 = data[7].replace("&amp;","&");
	var secondaryStructureMon2 = data[8].replace("&amp;", "&");
	cofoldContainer(secondaryStructureMon2, seqMon2, "#mono2_canvas", colorString);
}

//This is the slider to select individual
$("#slider").slider({
	orientation: "horizontal",
	range: false,
	min: 0,
	max: 1,
	value: 0,
	step: .01,
	animate: true,
	slide: function (event, ui) {
		$("#a_field").val(ui.value);
	}, 
	change: function(event,ui){ 
		var individual = ui.value;
		var monomer1 = $('#slider2').slider("option", "value");
		var monomer2 = $('#slider3').slider("option", "value");
		var front = $('#slider4').slider("option", "value");
		$.getJSON('/viewFronts_JSON', {
			ind:individual, gen:{{genToView}}, trial: {{trialToView}}, mon1:monomer1, mon2:monomer2, front:front}, function(data){
			UpdateResults(data);
			})
	}
});

//Slider for first monomer
$("#slider2").slider({
	orientation: "horizontal",
	range: false,
	min: 0,
	max: 1,
	value: 0,
	step: .01,
	animate: true,
	slide: function (event, ui) {
		$("#a2_field").val(ui.value);
	}, 
	change: function(event,ui){ 
		var individual = $('#slider').slider("option", "value");
		var monomer1 = ui.value;
		var monomer2 = $('#slider3').slider("option", "value");
		var front = $('#slider4').slider("option", "value");
		$.getJSON('/viewFronts_JSON', {
			ind:individual, gen:{{genToView}}, trial: {{trialToView}}, mon1:monomer1, mon2:monomer2, front:front }, function(data){
			UpdateResults(data);
			})
	}
});

//This is the slider to select second monomer
$("#slider3").slider({
	orientation: "horizontal",
	range: false,
	min: 0,
	max: 1,
	value: 0.40, //0.25 if we evolve shunts. if we don't evolve them st it to 0.40
	step: .01,
	animate: true,
	slide: function (event, ui) {
		$("#a3_field").val(ui.value);
	}, 
	change: function(event,ui){ 
		var individual = $('#slider').slider("option", "value");
		var monomer1 = $('#slider2').slider("option", "value");
		var monomer2 = ui.value;
		var front = $('#slider4').slider("option", "value");
		$.getJSON('/viewFronts_JSON', {
			ind:individual, gen:{{genToView}}, trial: {{trialToView}}, mon1:monomer1, mon2:monomer2, front:front }, function(data){
			UpdateResults(data);
			})
	}
});

//This is the slider to select the front to view
$("#slider4").slider({
	orientation: "horizontal",
	range: false,
	min: 0,
	max: 1,
	value: 0,
	step: .01,
	animate: true,
	slide: function (event, ui) {
		$("#a4_field").val(ui.value);
	}, 
	change: function(event,ui){ 
		var individual = $('#slider').slider("option", "value");
		var monomer1 = $('#slider2').slider("option", "value");
		var monomer2 = $('#slider3').slider("option", "value");
		var front = ui.value;
		$.getJSON('/viewFronts_JSON', {
			ind:individual, gen:{{genToView}}, trial: {{trialToView}}, mon1:monomer1, mon2:monomer2, front:front }, function(data){
			UpdateResults(data);
			})
	}
});

//This is run at page load
$.getJSON('/viewFronts_JSON', {
	ind:$('#slider').slider("option", "value"), gen:{{genToView}}, trial: {{trialToView}}, mon1:$('#slider2').slider("option", "value"), mon2:$('#slider3').slider("option", "value"), front:$('#slider4').slider("option", "value")}, function(data){
	UpdateResults(data);
	})
</script>
</body>
</html>
